<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home Page</title>

</head>
@model IEnumerable<Result>

<body>
    <div class="wrapper container-fluid">
        <partial name="NavbarPartial"></partial>
        @* filter toggle *@
        <div>
            @* @Model.title *@
        </div>
        

                


    </div>
</body>

</html>
